# base configuration pulled from:
# https://github.com/dashbitco/broadway/blob/master/.github/workflows/ci.yml

name: CI
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    strategy:
      fail-fast: false
      matrix:
        # https://repo.hex.pm/builds/elixir/builds.txt
        elixir: [1.11, 1.12, 1.13, 1.14, 1.15]
        otp: [24.x, 25.x, 26.x]
        exclude:
          - elixir: 1.11
            otp: 25.x
          - elixir: 1.11
            otp: 26.x
          - elixir: 1.12
            otp: 25.x
          - elixir: 1.12
            otp: 26.x
          - elixir: 1.13
            otp: 26.x
        include:
          - elixir: 1.14
            otp: 25.x
            lint: lint
            coverage: coverage
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}

      - name: Install Dependencies
        run: mix deps.get --only test

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.get && mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix test

      - run: mix credo --strict

      - run: mix coveralls.github
        if: ${{matrix.coverage}}
